<div class="auth">
  <form>
    <div *ngIf="!isLogged">
      <p> {{tittle}} </p>
      <input type="text" name="username" class="textbox" placeholder="Введите логин" [(ngModel)]="login">
      <br>
      <input type="password" name="password" class="textbox" placeholder="Введите пароль" [(ngModel)]="password">
      <br>
      <button (click)="LogIn()" [disabled]="ButtonCheck()">Войти</button>
    </div>
    <div *ngIf="isLogged">
      <button (click)="LogOut()" style="float: none">Выйти</button>
    </div>
  </form>
</div>
